body{
    background-color: white;
    color: black;
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.darkmode{
    background-color: black;
    color: white;
    transition: 1s ease;
}